@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
200 extra l
300 light
400 reg
500 med
600 semi bold
700 bold
*/

body {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

header ul {
    background: pink;
}

header ul li {
    display: inline-block;
    padding: 10px 20px;
}

main {
    background: #ddd;
}

main ul {
    list-style: square;
}

h1 {
    font-size: 1.5rem;
    display: inline-block;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
}

h3 {
    background: red;
    font-size: 1.5rem;
    padding: 40px 0 20px 0;
    font-weight: 600;

}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
}


p main {
    line-height: 1.3em;
    text-align: left;
}

i {
    font-style: italic
}

q {
    font-weight: 600;
}

img {
    width: 50%;
}

header {
    background: red;
}

div {
    background: #F4F6F6;
    width: 60%;
    box-sizing: border-box;
    padding: 25px;
    margin: 0 auto;
}


footer {
    background: yellow;
}
