@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
200 extra l
300 light
400 reg
500 med
600 semi bold
700 bold
*/

body {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background: green;
}

/*TYPOGRAPHY*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    display: inline-block;
    background: orange;
    padding: 20px;

}

h2 {
    font-size: 3rem;
    font-weight: 400;
}

h3 {
    background: red;
    font-size: 1.5rem;
    padding: 40px 0 20px 0;
    font-weight: 600;
}

/* MAIN CONTAINTERS*/

.wrapper {
    background: pink;
    width: 980px;
    margin: 0 auto;
}

header {
    background: firebrick;
    height: 200px;
    padding: 20px;
}

nav {
    background: pink;
}

nav ul {}

nav ul li {
    display: inline;
    margin: 0 auto;

}

nav ul li a {
    color: black;
    text-decoration: none;
    background-color: cornsilk;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li a:hover {
    background-color: aqua;
}

main {
    background: #ddd;
}

main ul {
    list-style: square;
}


p main {
    line-height: 1.3em;
    text-align: left;
}

i {
    font-style: italic
}

q {
    font-weight: 600;
}

img {
    width: 50%;
}



footer {
    background: yellow;
}
